.about__wrapper {
  margin-left: 25px;
  padding: 33px 0 60px 0;
}

.about__title,
.about__desc {
  width: 213px;
  margin: 0 0 21px 0;
  padding: 0;
}

.about__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .about__container {
    margin: 0 auto;
  }

  .about__wrapper {
    margin-left: 35px;
    padding: 270px 0 87px 0;
  }

  .about__title {
    margin-bottom: 36px;
  }

  .about__desc {
    margin-bottom: 30px;

    &--bold {
      margin-bottom: 55px;
    }
  }

  .about__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
  }

  .about__title,
  .about__desc {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    margin-left: 70px;
    padding: 130px 0 160px 0;
  }

  .about__title,
  .about__desc {
    width: 650px;
  }

  .about__title {
    margin-bottom: 60px;
  }

  .about__desc {
    margin-bottom: 36px;

    &--bold {
      margin-bottom: 85px;
    }
  }
}
