.address {
  font-style: normal;
  background-color: #ffd74b;
}

.address__item {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #192144;
}

.address__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-decoration: none;
}
