.address {
  padding: 17px 0 31px 0;
}

.address__wrapper {
  display: flex;
  flex-direction: column;
}

.address__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 17px 0;
  padding: 0;

  &-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
  }

  &-text {
    width: 70%;
    margin-left: 15px;
  }
}

.address__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .address {
    padding: 40px 0 80px 0;
  }

  .address__item {
    margin: 0 35px 35px 35px;

    &-icon {
      width: 68px;
      height: 68px;
    }

    &-text {
      margin-left: 25px;
    }
  }

  .address__link {
    margin: 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    padding: 55px 0;
  }

  .address__wrapper {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .address__item {
    margin: 0 145px 0 0;

    &-text {
      width: 90%;
    }
  }

  .address__item-icon {
    width: 100px;
    height: 90px;
  }

  .address__link {
    width: 245px;
    margin: 0 75px 0 0;
  }
}
