.alphabet-views {
  list-style: none;
}

.alphabet-views__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: 1px solid #cbced9;
  background-color: #ffffff;

  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
  }
}
