.alphabet-views {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.alphabet-views__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
}

.alphabet-views__country-list {
  display: none;
  order: 1;
  margin: 25px 0 25px 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .alphabet-views {
    &--modal {
      width: 330px;
    }
  }

  .alphabet-views__label {
    justify-content: flex-start;
    width: 70px;
    height: 70px;

    &--modal {
      justify-content: center;
      width: 55px;
      height: 70px;
    }
  }

  .alphabet-views__input {
    &:checked + .alphabet-views__label + .alphabet-views__country-list {
      position: absolute;
      left: 400px;
      width: 210px;
      height: 400px;
      overflow: scroll;
    }

    &:checked + .alphabet-views__label--modal + .alphabet-views__country-list {
      position: absolute;
      left: 400px;
      width: 210px;
      height: 340px;
      overflow: scroll;
    }
  }

  .alphabet-views__country-list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .alphabet-views {
    &--modal {
      width: 510px;
    }
  }

  .alphabet-views__country-list {
    display: block;
    box-sizing: border-box;
    width: 218px;
  }

  .alphabet-views__label {
    display: none;

    &--modal {
      display: flex;
      margin: 15px;
    }

    &--modal + .alphabet-views__country-list {
      display: none;
    }
  }

  .alphabet-views__input {
    &:checked + .alphabet-views__label + .alphabet-views__country-list {
      position: static;
      box-sizing: border-box;
      width: 210px;
      height: auto;
      overflow: unset;
    }

    &:checked + .alphabet-views__label--modal + .alphabet-views__country-list {
      position: absolute;
      left: 550px;
      width: 210px;
      height: 490px;
      overflow: scroll;
    }
  }
}
