.alphabet-views {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.alphabet-views__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
}

.alphabet-views__country-list {
  display: none;
  order: 1;
  width: 100%;
  margin: 0;
  padding: 25px 0;

  &--add {
    padding: 20px;
  }
}

@media (min-width: $tablet-width) {
  .alphabet-views {
    &--modal {
      width: 330px;
      padding: 35px 20px;
    }
  }

  .alphabet-views__label {
    justify-content: flex-start;
    width: 70px;
    height: 70px;

    &--modal {
      justify-content: center;
      width: 55px;
      height: 70px;
    }
  }

  .alphabet-views__input {
    &:checked + .alphabet-views__label + .alphabet-views__country-list {
      position: absolute;
      left: 460px;
      width: 210px;
      height: 400px;
      overflow-y: scroll;
    }

    &:checked + .alphabet-views__label--modal + .alphabet-views__country-list {
      position: absolute;
      left: 370px;
      top: 0;
      width: 180px;
      height: 340px;
      padding: 40px 12px;
      overflow: scroll;
    }
  }

  .alphabet-views__country-list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .alphabet-views {
    &--modal {
      box-sizing: border-box;
      width: 730px;
      padding-right: 200px;
    }
  }

  .alphabet-views__country-list {
    display: block;
    box-sizing: border-box;
    width: 190px;
    margin-bottom: 75px;

    &::before {
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      color: #192144;
    }

    &--a::before {
      content: "А";
    }

    &--b::before {
      content: "Б";
    }

    &--v::before {
      content: "В";
    }

    &--g::before {
      content: "Г";
    }

    &--d::before {
      content: "Д";
    }

    &--e::before {
      content: "Е";
    }

    &--z::before {
      content: "З";
    }

    &--i::before {
      content: "И";
    }

    &--k::before {
      content: "К";
    }

    &--l::before {
      content: "Л";
    }

    &--m::before {
      content: "М";
    }

    &--n::before {
      content: "Н";
    }

    &--o::before {
      content: "О";
    }

    &--p::before {
      content: "П";
    }

    &--s::before {
      content: "С";
    }

    &--t::before {
      content: "Т";
    }

    &--y::before {
      content: "У";
    }

    &--f::before {
      content: "Ф";
    }

    &--h::before {
      content: "Х";
    }

    &--ch::before {
      content: "Ч";
    }

    &--sh::before {
      content: "Ш";
    }

    &--ie::before {
      content: "Э";
    }

    &--u::before {
      content: "Ю";
    }

    &--ia::before {
      content: "Я";
    }
  }

  .alphabet-views__label {
    display: none;

    &--modal {
      display: flex;
      margin: 15px;
    }

    &--modal + .alphabet-views__country-list {
      display: none;
    }
  }

  .alphabet-views__input {
    &:checked + .alphabet-views__label + .alphabet-views__country-list {
      position: static;
      box-sizing: border-box;
      width: 190px;
      height: auto;
      overflow: unset;
    }

    &:checked + .alphabet-views__label--modal + .alphabet-views__country-list {
      position: absolute;
      left: 550px;
      width: 190px;
      padding-top: 10px;
      overflow: scroll;
    }
  }
}
