.block-sort {
  border-radius: 20px;
  background-color: #ffd74b;
}

.block-sort__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
  color: #1d2e5b;
}

.block-sort__send {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
}

.block-sort__item {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.block-sort__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.block-sort__item-toggle {
  background-color: transparent;
  border: none;
}

.block__sort-icon {
  &--close {
    transform: rotate(180deg);
  }
}

.block-sort__icon-dropdown {
  fill: #192143;
}

.block-sort__item-label {
  font-size: 15px;
  line-height: 15px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .block-sort__title {
    font-size: 30px;
    line-height: 30px;
  }

  .block-sort__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  .block-sort__item-toggle {
    display: none;
  }

  .block-sort__item-label {
    font-size: 20px;
    line-height: 20px;
  }

  .block-sort__send {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .block-sort__item-toggle {
    display: block;
  }
}
