.block {
  &--dark {
    background-color: $bg-blue-dark;
    color: $fnt-white;
  }

  &--light {
    background-color: $bg-light;
    color: $fnt-gray;
  }

  &--intro {
    background-color: $bg-blue-black;
    color: $fnt-white;
  }

  &--white {
    background-color: $bg-white;
    color: $fnt-gray;
  }

  &--yellow {
    background-color: $bg-yellow;
    color: $fnt-blue-dark;
  }

  &--top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  &--bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.block__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: $fnt-white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__header-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $fnt-white;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &--home {
    outline: none;
  }

  &--home:hover,
  &--home:focus {
    opacity: 0.6;
  }

  &--home:active {
    opacity: 0.3;
  }
}

.block__intro {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__about-container {
  background-image: url("../img/about-mobile@1x.png");
  background-size: 320px 390px;
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }
}

.block__companion-wrapper {
  background-image: url("../img/rogovaya-back-mobile@1x.png"), url("../img/smolov-back-desktop@1x.png");
  background-size: auto, auto;
  background-position: -7% 24%, 80% 3%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/rogovaya-back-mobile@2x.png"), url("../img/smolov-back-desktop@2x.png");
    background-size: 22%, 45%;
  }
}

.block__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $fnt-orange;
  overflow: hidden;
  text-overflow: ellipsis;

  &--tariff {
    text-align: center;
  }
}

.block__desc {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;

  &--bold {
    font-weight: 700;
  }
}

.block__desc-link {
  color: $fnt-yellow;
  text-decoration: underline;
  outline: none;

  &:hover,
  &:focus {
    color: $fnt-orange;
  }

  &:active {
    color: $fnt-orange-50;
  }
}

.block__guide-item {
  overflow: hidden;

  &--one {
    background-color: $block-guide-one;
  }

  &--two {
    background-color: $block-guide-two;
  }

  &--three {
    background-color: $block-guide-three;
  }

  &--four {
    background-color: $block-guide-four;
  }
}

.block__guide-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $fnt-blue-black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__guide-count {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $fnt-white;
  overflow: hidden;
}

.block__list {
  list-style: none;
}

.block__card-companion {
  text-align: center;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 0 2px 11px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.005);
  }

  &--online .block__card-name::before {
    background-color: $status-online;
  }

  &--offline .block__card-name::before {
    background-color: $status-offline;
  }
}

.block__card-desc {
  background-color: $bg-white;
}

.block__card-level {
  font-size: 24px;
  line-height: 24px;
  color: $fnt-white;
  overflow: hidden;

  &--value {
    width: 39px;
    height: 20px;
    font-weight: 700;
    border-bottom: 1px solid #ffffff;
  }

  &--title {
    width: 25px;
    height: 15px;
    font-size: 14px;
    line-height: 14px;
  }
}

.block__level-border {
  fill: none;
  stroke: #ff8d30;
  stroke-width: 2;

  &--99 {
    stroke-dasharray: 133;
    transform: rotate(-85deg);
  }

  &--80 {
    stroke-dasharray: 123;
    transform: rotate(-85deg);
  }

  &--50 {
    stroke-dasharray: 67;
    transform: rotate(-85deg);
  }

  &--25 {
    stroke-dasharray: 106;
    stroke-dashoffset: 111;
  }
}

.block__card-title,
.block__card-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__card-title {
  color: $fnt-blue-black;
}

.block__card-name {
  position: relative;
  color: $fnt-blue-dull;
  text-decoration: none;
  text-align: left;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.block__card-motto,
.block__card-tags {
  font-size: 16px;
  font-weight: 400;
  color: $fnt-gray;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__card-motto {
  font-weight: 500;
  line-height: 14px;
  opacity: 0.3;
}

.block__card-tags {
  line-height: 15px;
}

.block__card-count {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: $fnt-gray;
  text-transform: uppercase;
  opacity: 0.3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__card-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $fnt-gray;
}

.block__card-icon {
  fill: $fnt-blue-dull-20;

  &--active {
    fill: $fnt-blue-dull;
  }
}

.block__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $fnt-blue-dull;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:active &-text,
  &:active &-svg {
    opacity: 0.6;
  }

  &--smaller {
    font-size: 16px;
    line-height: 16px;
    outline: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--tariff {
    font-size: 16px;
    line-height: 24px;
    background-color: $bg-light;
    text-transform: uppercase;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;

    &:active {
      opacity: 0.5;
    }
  }
}

.block__link-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__link-svg {
  fill: $fnt-blue-dull;
}

.block__tariff {
  border-radius: 20px;
  box-shadow: 0 2px 11px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.block__tariff-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:nth-of-type(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.block__address {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: $fnt-blue-dark;

  &-icon {
    background-color: $fnt-blue-black;
    border-radius: 50%;
  }

  &-svg {
    fill: $fnt-yellow;
  }

  &--link {
    color: #1d2e5b;
    text-transform: initial;
    text-decoration: none;
  }

  &--link &-svg {
    fill: $fnt-blue-dull;
  }

  &--link:hover,
  &--link:focus {
    background-color: $fnt-blue-dull;
  }

  &--link:hover &-text,
  &--link:focus &-text {
    color: $fnt-white;
  }

  &--link:hover &-svg,
  &--link:focus &-svg {
    fill: $fnt-white;
  }

  &--link:active &-text,
  &--link:active &-svg {
    opacity: 0.6;
  }
}

.block__registration-input {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 1);

  &:active {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    opacity: 0.6;
  }

  &:invalid {
    color: $fnt-red;
  }
}

.block__contact-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: $fnt-yellow;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover .block__contact-text,
  &:focus .block__contact-text {
    color: $fnt-yellow-dark;
  }

  &:hover .block__contact-svg,
  &:focus .block__contact-svg {
    fill: $fnt-yellow-dark;
  }

  &:active .block__contact-icon,
  &:active .block__contact-text {
    opacity: 0.5;
  }
}

.block__contact-icon {
  background-color: $fnt-blue-black; //#121836
  border-radius: 50%;
}

.block__contact-svg {
  fill: $fnt-yellow;
}

.block__address-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__pages-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $fnt-blue-dull;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  overflow: hidden;

  &:hover,
  &:focus {
    color: $fnt-blue-dull-60;
  }

  &:active {
    color: $fnt-blue-dull-40;
  }

  &:hover .block__pages-icon,
  &:focus .block__pages-icon {
    fill: $fnt-blue-dull-60;
  }

  &:active .block__pages-icon {
    fill: $fnt-blue-dull-40;
  }
}

.block__filter-icon,
.block__pages-icon {
  fill: $fnt-blue-dull;

  &--white {
    fill: $fnt-white;
  }
}

@media (min-width: $tablet-width) {
  .block {
    &--top {
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
    }

    &--bottom {
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  .block__header {
    font-size: 60px;
    line-height: 70px;
  }

  .block__header-link {
    font-size: 20px;
    line-height: 24px;
  }

  .block__intro {
    font-size: 60px;
    line-height: 70px;
  }

  .block__about-container {
    background-image: url("../img/about-tablet@1x.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 98% 75%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.png");
      background-size: 375px 550px;
    }
  }

  .block__companion-wrapper {
    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png");
    background-position: 80% 10%, 5% 40%;
    background-size: 35%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rogovaya-back-desktop@2x.png"), url("../img/smolov-back-desktop@2x.png");
      background-size: 35%, 20%;
    }
  }

  .block__title {
    font-size: 45px;
    line-height: 45px;
  }

  .block__desc {
    font-size: 28px;
    line-height: 33px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
    }
  }

  .block__guide-text {
    font-size: 24px;
    line-height: 24px;
  }

  .block__guide-count {
    font-size: 30px;
    line-height: 30px;
  }

  .block__card-title,
  .block__card-name {
    font-size: 24px;
    line-height: 24px;
  }

  .block__card-motto {
    font-size: 20px;
    line-height: 20px;
  }

  .block__card-tags {
    font-size: 20px;
    line-height: 24px;
  }

  .block__card-count {
    font-size: 20px;
    line-height: 30px;
  }

  .block__level-border {
    &--tablet {
      width: 60px;
      height: 60px;
    }
  }

  .block__link {
    font-size: 24px;
    line-height: 24px;

    &--smaller {
      font-size: 20px;
      line-height: 20px;
    }

    &--tariff {
      font-size: 24px;
      line-height: 24px;
    }

    &--phone::before,
    &--email::before {
      left: -90px;
      width: 67px;
      height: 67px;
    }
  }

  .block__contact-link {
    font-size: 28px;
    line-height: 28px;
  }

  .block__tariff {
    border-radius: 25px;
  }

  .block__address {
    font-size: 28px;
    line-height: 28px;
  }

  .block__registration-input {
    font-size: 24px;
    line-height: 24px;
  }

  .block__pages-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .block__about-container {
    background-image: none;
  }

  .block__about-wrapper {
    background-image: url("../img/about-desktop@1x.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
      background-size: 600px 665px;
    }
  }

  .block__companion-wrapper {
    background-position: 20% 80%, 42% 20%;
    background-size: 20%, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 20%, 10%;
    }
  }

  .block__guide-count {
    font-size: 24px;
  }
}
