.block-filter {
  background-color: #e2e5f2;
}

.block-filter__header-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #192144;
  text-transform: uppercase;
}

.block-filter__header-toggle {
  background-color: transparent;
  border: none;
  outline: none;

  &:hover .block-filter__toggle-text,
  &:hover .block-filter__toggle-icon,
  &:focus .block-filter__toggle-text,
  &:focus .block-filter__toggle-icon {
    opacity: 0.6;
  }

  &:active .block-filter__toggle-text,
  &:active .block-filter__toggle-icon {
    opacity: 0.3;
  }
}

.block-filter__toggle-text {
  display: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #192144;
  text-transform: uppercase;
}

.block-filter__close {
  font-size: 17px;
  font-weight: 700;
  color: #161c35;
  line-height: 29.45px;
  text-transform: uppercase;
  background-color: #d6daed;
  outline: none;

  &:hover,
  &:focus {
    background-color: #c8cee8;
  }

  &:active .block__filter-icon,
  &:active .block__filter-text {
    opacity: 0.5;
  }

  &--tablet {
    display: none;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    &:hover .block__filter-icon,
    &:hover .block__filter-text,
    &:focus .block__filter-icon,
    &:focus .block__filter-text, {
      opacity: 0.6;
    }

    &:active .block__filter-icon,
    &:active .block__filter-text, {
      opacity: 0.3;
    }
  }
}

.block-filter__continent-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #192144;
  text-transform: uppercase;
  opacity: 0.3;
}

.block-filter__continent-input {
  &:hover + .block-filter__continent-label,
  &:focus + .block-filter__continent-label {
    opacity: 0.6;
  }

  &:checked + .block-filter__continent-label {
    opacity: 1;
  }
}

.block-filter__country-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: 1px solid #cbced9;
  background-color: #ffffff;
}

.block-filter__country-input {
  &:checked + .block-filter__country-label {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  &:checked + .block-filter__country-label--modal {
    color: #1d2e5b;
    background-color: #edeff6;
  }

  &:checked + .block-filter__country-label + .block-filter__country-list {
    display: block;
  }
}

.block-filter__country-list {
  list-style: none;

  &--modal {
    border: 1px solid #cbced9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.block-filter__country-link {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 1);
  }

  &:active {
    color: rgba(29, 46, 91, 0.5);
  }
}

@media (min-width: $tablet-width) {
  .block-filter__header-title {
    font-size: 20px;
    line-height: 24px;
  }

  .block-filter__toggle-text {
    display: inline-block;
    vertical-align: middle;
  }

  .block-filter__continent-label {
    font-size: 20px;
    line-height: 24px;
  }

  .block-filter__close {
    font-size: 20px;
    line-height: 30px;

    &--tablet {
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      border: none;
    }
  }

  .block-filter__country-list {
    border: none;

    &--modal {
      background-color: #ffffff;
    }
  }

  .block-filter__country-label {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    border: none;
    background-color: transparent;
    color: #babdcf;

    &--modal {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      color: #1d2e5b;
      border: 1px solid #cbced9;
      background-color: #ffffff;
    }
  }

  .block-filter__country-input {
    &:checked + .block-filter__country-label {
      color: #192144;
      background-color: transparent;
    }

    &:checked + .block-filter__country-label--modal {
      color: #ffffff;
      background-color: #1d2e5b;
    }
  }

  .block-filter__country-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .block-filter__toggle-text {
    display: none;
  }
}
