.block-calendar {
  border-collapse: collapse;
}

.block-calendar__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.block-calendar__week-cell {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;

  &--tablet {
    display: none;
  }

  &--red &--mobile,
  &--red &--tablet {
    color: #ff5c23;
  }
}

.block-calendar__day-cell {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  background-color: #edeff6;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &--inactive {
    opacity: 0.3;
    background-color: #ffffff;
  }

  &--selected {
    color: #ffffff;
    background-color: #1d2e5b;
  }
}

@media (min-width: $tablet-width) {
  .block-calendar__title {
    font-size: 36px;
    line-height: 36px;
  }

  .block-calendar__week-cell {
    font-size: 18px;
    line-height: 30px;
    text-transform: none;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }
  }

  .block-calendar__day-cell {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .block-calendar__day-cell {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
  }

  .block-calendar__week-cell {
    text-align: left;
  }
}
