.block {
  &--dark {
    background-color: #192144;
    color: #ffffff;
  }

  &--light {
    background-color: #edeff6;
    color: #444444;
  }

  &--intro {
    background-color: #161c36;
    color: #ffffff;
  }

  &--white {
    background-color: #ffffff;
    color: #444444;
  }

  &--yellow {
    background-color: #ffd74b;
    color: #192144;
  }

  &--top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  &--bottom {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.block__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
}

.block__header-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  /* color: #1d2e5b; */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.block__intro {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.block__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #ff8d30;
}

.block__desc {
  font-weight: 300;

  &--bold {
    font-weight: 700;
  }
}

.block__desc-link {
  color: #ffd74b;
  text-decoration: underline;
}

.block__guide-item {
  &--one {
    background-color: #ff8d30;
  }

  &--two {
    background-color: #ffa530;
  }

  &--three {
    background-color: #ffbd30;
  }

  &--four {
    background-color: #ffd74b;
  }
}

.block__guide-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #161c35;
}

.block__guide-count {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.block__list {
  list-style: none;
}

.block__card-desc {
  background-color: #ffffff;
}

.block__card-level {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;

  &--value {
    font-weight: 700;
    border-bottom: 1px solid #ffffff;
  }

  &--title {
    font-size: 14px;
    line-height: 14px;
  }
}

.block__card-title,
.block__card-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.block__card-title {
  color: #161c35;
}

.block__card-name {
  color: #1d2e5b;
}

.block__card-motto,
.block__card-tags {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.block__card-motto {
  font-weight: 500;
  opacity: 0.3;
}

.block__card-count {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #444444;
  text-transform: uppercase;
  opacity: 0.3;
}

.block__card-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

.block__card-icon {
  opacity: 0.3;
}

.block__card-item--active .block__card-icon {
  opacity: 1;
}

.block__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-decoration: none;

  &--smaller {
    font-size: 16px;
    line-height: 16px;
  }

  &--tariff {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &--contact {
    font-size: 16px;
    line-height: 22px;
    color: #ffd74b;
    text-transform: uppercase;
  }

  &--phone::before,
  &--email::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #121836;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    transform: translateY(-50%);
  }

  &--phone::before {
    background-image: url("../img/contacts-phone.svg");
  }

  &--email::before {
    background-image: url("../img/contacts-mail.svg");
  }
}

.block__address {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #192144;

  &--link {
    color: #1d2e5b;
    text-transform: initial;
    text-decoration: none;
  }
}

.block__registration-input {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  &::placeholder {
    opacity: 0.3;
  }
}

.block__button-icon {
  fill: #1d2d5b;
}

.block__pages-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #1d2e5b;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .block {
    &--top {
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
    }

    &--bottom {
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  .block__header {
    font-size: 60px;
    line-height: 70px;
  }

  .block__intro {
    font-size: 60px;
    line-height: 70px;
  }

  .block__title {
    font-size: 45px;
    line-height: 45px;
  }

  .block__desc {
    font-size: 28px;
    line-height: 33px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
    }
  }

  .block__guide-text {
    font-size: 24px;
    line-height: 24px;
  }

  .block__guide-count {
    font-size: 30px;
    line-height: 30px;
  }

  .block__card-title,
  .block__card-name {
    font-size: 24px;
    line-height: 24px;
  }

  .block__card-motto {
    font-size: 20px;
    line-height: 17.68px;
  }

  .block__card-tags {
    font-size: 20px;
    line-height: 24px;
  }

  .block__card-count {
    font-size: 20px;
    line-height: 30px;
  }

  .block__link {
    font-size: 24px;
    line-height: 24px;

    &--smaller {
      font-size: 20px;
      line-height: 20px;
    }

    &--tariff {
      font-size: 24px;
      line-height: 24px;
      text-transform: none;
    }

    &--contact {
      font-size: 28px;
      line-height: 28px;
    }

    &--phone::before,
    &--email::before {
      left: -90px;
      width: 67px;
      height: 67px;
    }
  }

  .block__address {
    font-size: 28px;
    line-height: 28px;
  }

  .block__registration-input {
    font-size: 24px;
    line-height: 24px;
  }

  .block__pages-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .block__guide-count {
    font-size: 24px;
  }
}
