.block-calendar {
  border-collapse: collapse;
}

.block-calendar__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.block-calendar__title-btn {
  border: none;
  background-color: transparent;
  outline: none;

  &:hover > .block-calendar__title-icon,
  &:focus > .block-calendar__title-icon {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.block-calendar__week-cell {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;

  &--tablet {
    display: none;
  }

  &--red &--mobile,
  &--red &--tablet {
    color: #ff5c23;
  }
}

.block-calendar__day-cell {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.block-calendar__label,
.block-calendar__text {
  font-size: 14px;
  line-height: 18px;
}

.block-calendar__label {
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  background-color: #edeff6;
}

.block-calendar__text {
  display: none;
  color: #ffffff;
  text-transform: capitalize;
}

.block-calendar__checkbox {
  &:disabled + .block-calendar__label {
    background-color: #ffffff;
    opacity: 0.3;
  }

  &:disabled + .block-calendar__label:hover::before,
  &:disabled + .block-calendar__label:hover::after {
    content: none;
  }

  &:checked + .block-calendar__label {
    color: #ffffff;
    background-color: #0f1d41;
  }

  &:focus + .block-calendar__label::before,
  &:hover + .block-calendar__label::before,
  &:focus + .block-calendar__label::after,
  &:hover + .block-calendar__label::after {
    content: "";
    position: absolute;
    background-color: #ff5c23;
    z-index: 1;
  }

  &:focus + .block-calendar__label::before,
  &:hover + .block-calendar__label::before {
    top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    box-shadow: 0 30px #ff5c23;
  }

  &:focus + .block-calendar__label::after,
  &:hover + .block-calendar__label::after {
    top: 0;
    left: -1px;
    width: 2px;
    height: 100%;
    box-shadow: 30px 0 #ff5c23;
  }
}

@media (min-width: $tablet-width) {
  .block-calendar__title {
    font-size: 36px;
    line-height: 36px;
  }

  .block-calendar__week-cell {
    font-size: 18px;
    line-height: 30px;
    text-transform: none;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }
  }

  .block-calendar__label,
  .block-calendar__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  .block-calendar__checkbox {
    &:focus + .block-calendar__label::before,
    &:hover + .block-calendar__label::before {
      top: 0;
      left: -2px;
      width: 4px;
      height: 100%;
      box-shadow: 75px 0 #ff5c23;
    }

    &:focus + .block-calendar__label::after,
    &:hover + .block-calendar__label::after {
      top: -2px;
      left: 0;
      width: 100%;
      height: 4px;
      box-shadow: 0 68px #ff5c23;
    }
  }
}

@media (min-width: $desktop-width) {
  .block-calendar__day-cell {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
  }

  .block-calendar__label {
    text-align: left;
  }

  .block-calendar__checkbox {
    &:focus + .block-calendar__label::before,
    &:hover + .block-calendar__label::before {
      top: -2px;
      left: 0;
      width: 100%;
      height: 4px;
      box-shadow: 0 68px #ff5c23;
    }

    &:focus + .block-calendar__label::after,
    &:hover + .block-calendar__label::after {
      top: 0;
      left: -2px;
      width: 4px;
      height: 100%;
      box-shadow: 143px 0 #ff5c23;
    }

    &:checked + .block-calendar__label > .block-calendar__text {
      display: block;
    }
  }
}
