.button {
  border: none;

  &--yellow {
    background-color: $btn-yellow;
  }

  &--yellow-dark {
    background-color: $btn-yellow-dark;
  }

  &--orange {
    background-color: $btn-orange;
  }

  &--white {
    background-color: $btn-white;
  }

  &--blue-light {
    background-color: $btn-blue-light;
  }

  &--transparent {
    background-color: $btn-trasparent;
  }

  &--border {
    border-style: solid;
    border-color: #192144;
  }

  &--ellipse {
    border-radius: 20px;
  }

  &--square {
    border-radius: 10px;
  }

  &--round {
    border-radius: 50%;
  }
}
