.button {
  display: block;
  border: none;

  &--yellow {
    background-color: $btn-yellow;
  }

  &--yellowdark {
    background-color: $btn-yellowdark;
  }

  &--yellowdark:hover,
  &--yellowdark:focus,
  &--yellowdark:active {
    background-color: $btn-orange;
  }

  &--orange {
    background-color: $btn-orange;
  }

  &--orange:hover,
  &--orange:focus,
  &--orange:active {
    background-color: $btn-orange-hover;
  }

  &--white {
    background-color: $btn-white;
  }

  &--blue-light {
    background-color: $btn-blue-light;
  }

  &--transparent {
    background-color: $btn-trasparent;
  }

  &--border {
    border-style: solid;
    border-color: #192144;
  }

  &--ellipse {
    padding: 10px 30px;
    border-radius: 25px;
  }

  &--square {
    position: relative;
    padding: 21px 25px;
    border-radius: 10px;
  }

  &--square::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 10px;
    height: 15px;
    background-image: url("../img/triangle-arrow-right.svg");
    transform: translateY(-50%);
  }

  &--round {
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--square {
      padding: 28px 35px;
      border-radius: 20px;
    }

    &--square::after {
      right: 35px;
      width: 10px;
      height: 15px;
    }
  }
}
