.button {
  border: none;

  &--yellow {
    background-color: $btn-yellow;
  }

  &--yellow-dark {
    background-color: $btn-yellow-dark;
  }

  &--orange {
    background-color: $btn-orange;
  }

  &--white {
    background-color: $btn-white;
  }

  &--ellipse {
    border-radius: 20px;
  }

  &--square {
    border-radius: 10px;
  }

  &--round {
    border-radius: 50%;
  }
}
