.calendar-table {
  width: 100%;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.calendar-table__title {
  padding: 10px 0;
  margin: 0 0 15px 0;
}

.calendar-table__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar-table__week-row {
  margin-bottom: 10px;
}

.calendar-table__cell {
  position: relative;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.calendar-table__label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.calendar-table__text {
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .calendar-table {
    margin-bottom: 47px;
  }

  .calendar-table__title {
    padding: 19px 0;
    margin: 0 0 8px 0;
  }

  .calendar-table__icon {
    width: 20px;
    height: 35px;
  }

  .calendar-table__cell {
    width: 75px;
    height: 69px;

    &--week {
      width: 75px;
      height: 55px;
      padding: 20px 0 0 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .calendar-table {
    margin-bottom: 65px;
  }

  .calendar-table__title {
    margin: 0;
  }

  .calendar-table__label {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0 0 15px;
  }
}
