.card {
  background-color: #ffffff;
}

.card__photo-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card__like {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: rgba(237, 239, 245, 1);
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    background-color: rgba(225, 229, 241, 1);
  }

  &:active .card__like-unactive {
    fill: rgba(173, 177, 191, 0.6);
  }

  &--active {
    background-color: rgba(249, 234, 234, 1);
  }

  &--active:hover,
  &--active:focus {
    background-color: rgba(249, 215, 215, 1);
  }

  &--active:active .card__like-active {
    fill: rgba(240, 34, 34, 0.6);
  }

  &-unactive {
    fill: rgba(173, 177, 191, 1);
  }

  &-active {
    fill: rgba(240, 34, 34, 1);
  }

  &--tablet {
    background-color: #f9eaea;
  }
}

.card__desc {
  position: relative;
}

.card .card__desc {
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 23px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

.card--online .card__desc {
  &::before {
    background-color: $status-online;
  }
}

.card--offline .card__desc {
  &::before {
    background-color: $status-offline;
  }
}

.card__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;
  text-decoration: none;
  text-align: left;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.card__level-desc {
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
}

.card__count {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #161c35;
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__tags {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__title,
.card__title-inner {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__level {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #1d2e5b;
  overflow: hidden;
}

.card__list {
  list-style: none;
  overflow: hidden;
}

.card__item {
  font-size: 15px;
  line-height: 18px;
}

.card__item-nations {
  font-weight: 500;
  color: #1d2e5b;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__method-icon {
  fill: rgba(29, 45, 91, 0.2);

  &--active {
    fill: rgba(29, 45, 91, 1);
  }
}

.card__method-item {
  background-color: #edeff5;
  border-radius: 50%;
}

.card__method-item--active .card__method-icon {
  opacity: 1;
}

.card__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 35px;
  color: #161c35;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: $tablet-width) {
  .card__photo-image {
    width: 190px;
    height: 190px;
    border-radius: 15px;
  }

  .card .card__desc {
    &::before {
      content: none;
    }
  }

  .card__name {
    font-size: 30px;
    line-height: 30px;
  }

  .card__name-text {
    position: relative;
  }

  .card .card__name-text {
    &::before {
      content: "";
      position: absolute;
      top: 12px;
      right: -25px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }

  .card--online .card__name-text {
    &::before {
      background-color: $status-online;
    }
  }

  .card--offline .card__name-text {
    &::before {
      background-color: $status-offline;
    }
  }

  .card__tags {
    font-size: 20px;
    line-height: 24px;
  }

  .card__item {
    font-size: 20px;
    line-height: 30px;
  }

  .card__count {
    font-size: 20px;
    line-height: 35px;
  }

  .card__method-item {
    background-color: transparent;
    border-radius: none;
  }

  .card__method-icon {
    width: 20px;
    height: 20px;
  }

  .card__level {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .card__link {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .card__photo-image {
    object-fit: cover;
  }
}
