.card {
  background-color: #ffffff;
}

.card__photo-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card__like {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: #edeff5;
  border-radius: 50%;

  &--active {
    background-color: #f9eaea;
  }
}

.card__like-unactive {
  fill: #adb1bf;
}

.card__like-active {
  fill: #f02222;
}

.card__active-like {
  width: 25px;
  height: 25px;
  padding: 15px;
  border-radius: 50%;
  background-color: #edeff5;

  &--active {
    width: 40px;
    height: 20px;
    padding: 15px 5px;
    background-color: #f9eaea;
  }
}

.card__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;
  text-decoration: none;
}

.card__desc {
  font-size: 14px;
  line-height: 14px;
}

.card__count {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #161c35;
  text-transform: uppercase;
}

.card__tags {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.card__title {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.card__level {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
}

.card__list {
  list-style: none;
}

.card__item {
  font-size: 15px;
  line-height: 18px;

  &--nations {
    font-weight: 500;
    color: #1d2e5b;
    text-transform: uppercase;
  }
}

.card__icon-plane,
.card__icon-bus,
.card__icon-bike,
.card__icon-run {
  fill: #1d2d5b;
}

.card__method-icon {
  width: 15px;
  height: 17px;
  opacity: 0.3;
}

.card__method-item {
  background-color: #edeff5;
  border-radius: 50%;
}

.card__method-item--active .card__method-icon {
  opacity: 1;
}

.card__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card__photo-image {
    width: 190px;
    height: 190px;
    border-radius: 15px;
  }

  .card__name {
    font-size: 30px;
    line-height: 30px;
  }

  .card__tags {
    font-size: 20px;
    line-height: 24px;
  }

  .card__level {
    line-height: 24px;
  }

  .card__item {
    font-size: 20px;
    line-height: 30px;
  }

  .card__count {
    font-size: 20px;
    line-height: 30px;
  }

  .card__method-item {
    background-color: transparent;
    border-radius: none;
  }

  .card__method-icon {
    width: 17px;
    height: 21px;
  }

  .card__link {
    font-size: 20px;
  }
}
