.card {
  background-color: #ffffff;
}

.card__photo-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card__like {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: rgba(237, 239, 245, 1);
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    background-color: rgba(225, 229, 241, 1);
  }

  &:active .card__like-unactive {
    fill: rgba(173, 177, 191, 0.6);
  }

  &--active {
    background-color: rgba(249, 234, 234, 1);
  }

  &--active:hover,
  &--active:focus {
    background-color: rgba(249, 215, 215, 1);
  }

  &--active:active .card__like-active {
    fill: rgba(240, 34, 34, 0.6);
  }

  &-unactive {
    fill: rgba(173, 177, 191, 1);
  }

  &-active {
    fill: rgba(240, 34, 34, 1);
  }

  &--tablet {
    background-color: #f9eaea;
  }
}

.card__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;
  text-decoration: none;
  text-align: left;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.card__desc {
  font-size: 14px;
  line-height: 14px;
}

.card__count {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #161c35;
  text-transform: uppercase;
  text-align: left;
}

.card__tags {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}

.card__title {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}

.card__level {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
}

.card__list {
  list-style: none;
}

.card__item {
  font-size: 15px;
  line-height: 18px;

  &--nations {
    font-weight: 500;
    color: #1d2e5b;
    text-transform: uppercase;
  }
}

.card__method-icon {
  fill: rgba(29, 45, 91, 0.2);

  &--active {
    fill: rgba(29, 45, 91, 1);
  }
}

.card__method-item {
  background-color: #edeff5;
  border-radius: 50%;
}

.card__method-item--active .card__method-icon {
  opacity: 1;
}

.card__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card__photo-image {
    width: 190px;
    height: 190px;
    border-radius: 15px;
  }

  .card__name {
    font-size: 30px;
    line-height: 30px;
  }

  .card__tags {
    font-size: 20px;
    line-height: 24px;
  }

  .card__level {
    line-height: 24px;
  }

  .card__item {
    font-size: 20px;
    line-height: 30px;
  }

  .card__count {
    font-size: 20px;
    line-height: 30px;
  }

  .card__method-item {
    background-color: transparent;
    border-radius: none;
  }

  .card__method-icon {
    width: 20px;
    height: 20px;
  }

  .card__link {
    font-size: 20px;
  }
}
