.companion {
  padding-top: 70px;
  padding-bottom: 30px;
}

.companion__wrapper {
  display: flex;
  flex-direction: column;
}

.companion__header {
  margin-left: 25px;
}

.companion__title,
.companion__desc {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.companion__desc {
  &--bold {
    margin-bottom: 60px;
  }
}

.companion__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  order: 2;
}

.companion__link {
  order: 3;
}

@media (min-width: $tablet-width) {
  .companion {
    padding-top: 145px;
    padding-bottom: 90px;
  }

  .companion__wrapper {
    margin: 0 35px;
  }

  .companion__header {
    width: 425px;
    margin-left: 0;
  }

  .companion__title {
    margin-bottom: 60px;
  }

  .companion__desc {
    margin-bottom: 45px;

    &--bold {
      margin-bottom: 60px;
    }
  }

  .companion__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .companion {
    padding: 135px 0;
  }

  .companion__wrapper {
    display: block;
    height: auto;
    margin: 0 70px;
  }

  .companion__desc {
    &--bold {
      margin-bottom: 85px;
    }
  }

  .companion__list {
    order: 2;
    margin-bottom: 0;
    float: right;
    width: 600px;
  }

  .companion__list-item:nth-of-type(odd) {
    margin-left: 60px;
  }

  .companion__link {
    align-self: flex-start;
  }
}
