.companion-item {
  position: relative;
  width: 270px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.companion-item__level {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.companion-item__level-value {
  font-weight: 700;
}

.companion-item__level-title {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.companion-item__country-list,
.companion-item__transport-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.companion-item__country-item,
.companion-item__transport-item {
  color: #192144;
  text-decoration: none;
}

.companion-item__name,
.companion-item__tags {
  margin: 0;
  padding: 0;
  text-align: center;
}

.companion-item__name {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #1d2e5b;
}

.companion-item__tags {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
