.companion__wrapper {
  display: flex;
  flex-direction: column;
  padding: 73px 0 30px 0;
}

.companion__header {
  width: 80%;
  margin-left: 25px;
}

.companion__title,
.companion__desc {
  margin: 0 0 20px 0;
  padding: 0;
}

.companion__desc {
  &--bold {
    margin-bottom: 55px;
  }
}

.companion__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  order: 2;
}

.companion__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  order: 3;
}

@media (min-width: $tablet-width) {
  .companion__wrapper {
    padding: 140px 35px 90px 35px;
  }

  .companion__header {
    width: 425px;
    margin-left: 0;
  }

  .companion__title {
    margin-bottom: 57px;
  }

  .companion__desc {
    margin-bottom: 38px;

    &--bold {
      margin-bottom: 60px;
    }
  }

  .companion__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .companion__wrapper {
    display: block;
    height: auto;
    margin: 0 0 0 70px;
    padding: 130px 0 125px 0;
  }

  .companion__desc {
    &--bold {
      margin-bottom: 85px;
    }
  }

  .companion__list {
    order: 2;
    float: right;
    margin-bottom: 0;
    width: 60%;
  }

  .companion__list-item:nth-of-type(odd) {
    margin-left: 60px;
  }

  .companion__link {
    width: 215px;
  }
}
