.contact-list {
  list-style: none;

  .contact-list__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #192144;
    text-transform: uppercase;
    text-decoration: none;
  }
}
