.contact-list {
  list-style: none;
  margin-bottom: 60px;
}

.contact-list__item {
  padding-left: 60px;
}

@media (min-width: $tablet-width) {
  .contact-list {
    margin-bottom: 150px;
  }

  .contact-list__item {
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .contact-list {
    display: none;
  }
}
