.country__wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 70px 0 33px 0;
}

.country__header {
  width: 74%;
  margin-left: 25px;
}

.country__title,
.country__desc {
  margin: 0;
  padding: 0;
}

.country__title {
  margin-bottom: 20px;
}

.country__desc {
  margin-bottom: 60px;
}

.country__list {
  order: 2;
  margin-bottom: 25px;
}

.country__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  order: 3;
}

@media (min-width: $tablet-width) {
  .country__wrapper {
    padding: 75px 35px 80px 35px;
    background-image: url("../img/flags-back@1x.png");
    background-size: 45%;
    background-position: 100% 15%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .country__header {
    margin-left: 0;
    width: 350px;
  }

  .country__title {
    margin-bottom: 58px;
  }

  .country__desc {
    margin-bottom: 100px;
  }

  .country__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .country__wrapper {
    padding: 160px 0 100px 0;
    display: block;
    height: auto;
    margin: 0 70px;
    background-size: 25%;
    background-position: 100% 40%;
  }

  .country__header {
    margin-left: 730px;
    margin-top: 10px;
  }

  .country__desc {
    width: auto;
    margin-bottom: 95px;
  }

  .country__link {
    box-sizing: border-box;
    width: 270px;
    margin-left: 740px;
  }

  .country__list {
    order: -1;
    float: left;
  }
}
