.country-item {
  display: flex;
  flex-direction: column;
}

.country-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.country-item__desc {
  margin-top: -15px;
  padding: 23px;
}

.country-item__title,
.country-item__motto,
.country-item__count {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .country-item {
    display: flex;
    flex-direction: row-reverse;
  }

  .country-item__desc {
    width: 430px;
    margin-top: 0;
  }
}
