.country-item {
  display: flex;
  flex-direction: column;
}

.country-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.country-item__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country-item__desc {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -19px;
  padding: 28px 24px;
  border-radius: 10px;
}

.country__item-flag {
  position: absolute;
  top: -13px;
  left: 25px;
}

.country-item__title,
.country-item__motto,
.country-item__count {
  margin: 0;
  padding: 0;
}

.country-item__title {
  max-width: 150px;
}

.country-item__motto {
  max-width: 225px;
}

.country-item__count {
  position: relative;
  max-width: 50px;
  max-height: 25px;
  padding: 0 0 0 20px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 11px;
    height: 11px;
    background-image: url("../img/user.svg");
    opacity: 0.5;
    transform: translateY(-50%);
  }
}

@media (min-width: $tablet-width) {
  .country-item {
    display: flex;
    flex-direction: row-reverse;
  }

  .country-item:not(:last-of-type) {
    margin-bottom: 5px;
  }

  .country-item__photo {
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    height: 100%;
  }

  .country-item__desc {
    flex-direction: column;
    width: 430px;
    margin-top: 0;
    padding: 31px 0 20px 28px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
  }

  .country__item-flag {
    top: 20px;
    left: auto;
    right: -30px;
    width: 71px;
    height: 48px;
  }

  .country-item__title,
  .country-item__motto,
  .country-item__count {
    max-width: 350px;
  }


  .country-item__title {
    max-height: 50px;
    margin-bottom: 0;
  }

  .country-item__motto {
    max-height: 20px;
    margin-bottom: 13px;
  }

  .country-item__count {
    order: 1;
    max-height: 20px;
    padding-left: 30px;

    &::before {
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("../img/user.svg");
      opacity: 0.5;
      transform: translateY(-50%);
    }
  }
}
