.filter {
  padding: 20px 0;
}

.filter__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter__title {
  margin: 0;
  padding: 0;
}

.filter__toggle {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
}

.filter__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .filter {
    padding: 70px 0;
  }

  .filter__wrapper {
    padding: 0 30px;
  }

  .filter__header {
    display: none;
  }

  .filter__list {
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .filter__wrapper {
    padding: 0 60px;
  }

  .filter__header {
    display: flex;
    margin-bottom: 65px;
    margin-right: 35px;
  }

  .filter__toggle {
    display: none;
  }

  .filter__title {
    margin: 0 0 0 20px;

    &-icon {
      width: 23px;
      height: 15px;
    }
  }

  .filter__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
}
