.filter-continent {
  margin: 0 25px;
  padding: 0;
  border: none;
}

.filter-continent__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #192144;
  text-transform: uppercase;
  opacity: 0.3;
}

.filter-continent__input {
  &:checked + .filter-continent__label {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .filter-continent {
    display: none;
  }

  .filter-continent__label {
    font-size: 20px;
    line-height: 24px;
  }
}
