.filter-continent {
  margin: 25px;
  padding: 0;
  border: none;

  &--hide {
    display: none;
  }
}

.filter-continent__open {
  &--hide {
    display: none;
  }
}

.filter-continent__item {
  max-width: 240px;
}

.filter-continent__item:not(:last-of-type) {
  margin-bottom: 15px;
}

.filter-continent__close {
  &--hide {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .filter-continent {
    display: block;
    margin: 0;

    &--open {
      margin: 0 0 70px 0;
    }
  }

  .filter-continent__close {
    margin-left: auto;

    &--hide {
      display: none;
    }
  }

  .filter-continent__open {
    margin-left: auto;
  }

  .filter-continent__item {
    max-width: 350px;
  }

  .filter-continent__item:not(:last-of-type) {
    margin: 0 25px 0 0;
  }

  .filter-continent__close-text {
    margin-right: 65px;
  }
}

@media (min-width: $desktop-width) {
  .filter-continent {
    flex-grow: 1;
    margin: 0 63px 0 0;
  }

  .filter-continent__close {
    display: inline-block;

    &--hide {
      display: none;
    }
  }
}
