.filter-continent {
  margin: 25px;
  padding: 0;
  border: none;
}

.filter-continent__item:not(:last-of-type) {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .filter-continent {
    margin: 0 0 70px 0;
  }

  .filter-continent__item:not(:last-of-type) {
    margin: 0 25px 0 0;
  }

  .filter-continent__close {
    margin-left: auto;
  }

  .filter-continent__close-text {
    margin-right: 65px;
  }
}

@media (min-width: $desktop-width) {
  .filter-continent {
    flex-grow: 1;
    margin: 0 0 65px 0;
  }
}
