.filter-alphabet {
  display: none;
  margin-left: 25px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .filter-alphabet {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .filter-alphabet {
    display: flex;
  }
}
