.filter-parameters {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .filter-parameters {
    flex-direction: row;
    align-items: center;

    &--country {
      flex-direction: column;
    }
  }
}
