.filter {
  padding: 17px 0;
}

.filter__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--open {
    margin-bottom: 15px;
  }
}

.filter__title {
  margin: 0;
  padding: 0;
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
}

.filter__list {
  display: flex;
  flex-direction: column;
}

.filter__close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &--hide {
    display: none;
  }

  .filter__close-text {
    margin-left: 15px;
  }
}

@media (min-width: $tablet-width) {
  .filter {
    padding: 60px 0 50px 0;
  }

  .filter__toggle-icon {
    width: 27px;
    margin-left: 20px;
  }

  .filter__wrapper {
    padding: 0 30px;
  }

  .filter__header {
    display: none;
  }

  .filter__toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filter__list {
    &--open {
      margin-bottom: 75px;
    }
  }

  .filter__close {
    padding: 40px 0;
  }

  .filter__close-icon {
    width: 18px;
    height: 18px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    padding: 60px 0 55px 0;
  }

  .filter__wrapper {
    padding: 0;
  }

  .filter__header {
    display: flex;
    margin: 0 35px 0 20px;
  }

  .filter__toggle {
    display: none;
  }

  .filter__title {
    margin: 0 0 0 20px;

    &-icon {
      width: 23px;
      height: 15px;
    }
  }

  .filter__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
  }

  .filter__close {
    display: flex;

    &--hide {
      display: none;
    }
  }
}
