.footer-copyright {
  width: 100%;
  padding-top: 15px;
}

.footer-copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright__text {
  width: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: $tablet-width) {
  .footer-copyright {
    width: auto;
    align-items: center;
    padding-top: 0;
    border: none;
  }

  .footer-copyright__link {
    margin-left: 25px;
  }

  .footer-copyright__text {
    margin-right: 25px;
  }
}
