.guide-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.guide-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  margin-top: -10px;
  padding: 20px 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.guide-list__item:not(:last-of-type) {
  padding: 22px 25px 32px 25px;
}

.guide-list__item:last-of-type {
  border-radius: 10px;
}

@media (min-width: $tablet-width) {
  .guide-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .guide-list__item {
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    margin-top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .guide-list__item:not(:last-of-type) {
    padding: 29px 42px 23px 42px;
  }

  .guide-list__item:nth-of-type(odd) {
    padding: 28px 42px 24px 25px;
  }

  .guide-list__item:nth-of-type(even) {
    margin-left: -20px;
  }

  .guide-list__item:last-of-type {
    padding: 32px 33px 21px 44px;
    border-radius: 20px;
  }

  .guide-list__item:nth-of-type(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
  }

  .guide-list__item:nth-of-type(4) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .guide-list__text {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .guide-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .guide-list__item {
    flex-direction: row;
    width: 345px;
    margin-left: -20px;
    padding: 30px;
  }

  .guide-list__text {
    margin: 0;
  }

  .guide-list__item:not(:last-of-type) {
    padding: 30px 50px 30px 30px;
  }

  .guide-list__item:nth-of-type(n) {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
  }

  .guide-list__item:last-of-type {
    padding: 27px 33px 33px 44px;
    border-radius: 20px;
  }
}
