.guide-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.guide-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  padding: 20px 25px;
}

@media (min-width: $tablet-width) {
  .guide-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .guide-list__item {
    flex-direction: column;
    width: 294px;
  }

  .guide-list__text {
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .guide-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .guide-list__item {
    flex-direction: row;
    width: 280px;
  }

  .guide-list__text {
    margin: 0;
  }
}
