.header {
  position: relative;
  padding: 28px 25px;
}

.side .header {
  padding: 20px 25px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__logo {
  width: 50%;
}

.header__logo-wrapper {
  display: block;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 40px 0;
  }

  .side .header {
    padding: 40px 25px;
  }

  .header__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header__logo {
    width: auto;
    margin: 5px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 40px 0 0 0;
  }

  .header__wrapper {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 5px;
  }

  .header__logo {
    margin-top: 0;
  }
}
