.header {
  position: relative;
  padding: 25px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 688px;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 1320px;
  }
}
