.icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &--social::before {
    transform: translate(0, 0);
  }

  &:active::before {
    opacity: 0.3;
  }

  &--phone::before {
    background-image: url("../img/topmenu-phone.svg");
  }

  &--email::before {
    background-image: url("../img/topmenu-mail.svg");
  }

  &--facebook::before,
  &--vkontakte::before,
  &--instagram::before {
    width: 45px;
    height: 45px;
    background-color: #ffd64b;
    border-radius: 50%;
  }

  &--facebook::before {
    background-image: url("../img/facebook.svg");
    background-size: 25%;
  }

  &--vkontakte::before {
    background-image: url("../img/vk.svg");
  }

  &--instagram::before {
    background-image: url("../img/instagram.svg");
  }

  &--flag {
    width: 35px;
    height: 25px;
    border-radius: 2px;
    background-image: url("https://placehold.it/35x25");
  }

  &--plane::before,
  &--bus::before,
  &--bike::before,
  &--run::before {
    width: 20px;
    height: 25px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &--plane::before {
    background-image: url("../img/plane.svg");
  }

  &--bus::before {
    background-image: url("../img/bus.svg");
  }

  &--bike::before {
    background-image: url("../img/plane.svg");
  }

  &--run::before {
    background-image: url("../img/run.svg");
  }

  &--active::before {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .icon {
    &--facebook::before,
    &--vkontakte::before,
    &--instagram::before {
      width: 60px;
      height: 60px;
    }
  }
}
