.intro {
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-size: 100% 50%;
  background-position: 0 -75px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }
}

.intro__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 40px;
  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-size: 195px 255px;
  background-position: 53px 153px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
  }
}

.intro__title {
  width: 240px;
  margin: 0 0 245px 15px;
  padding: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro {
    background-color: #182044;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-size: auto;
    background-position: 50% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
      background-size: 200%;
    }
  }

  .intro__wrapper {
    padding-top: 30px;
    padding-bottom: 0;
    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-size: 54%;
    background-position: 77% 64%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  .intro__title {
    width: 395px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-size: 100%;
    background-position: 0 100%;
    background-color: #161c36;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }

  .intro__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 106px;
    padding-bottom: 125px;
    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-size: 33%;
    background-position: 61% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png");
    }
  }

  .intro__title {
    margin: 0;
    margin-bottom: 100px;
    padding-left: 70px;
    text-align: left;
  }
}
