.level {
  position: relative;
}

.level__title {
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 20px 0 10px;
}

.level__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1px;
  width: 20%;
  background-color: #edeff6;
  transform: translateY(-50%);
}

.level__title-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 45px;
  max-height: 20px;
}

.level__wrapper {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 3px 20px 0 10px;
}

.level__value {
  display: block;
  width: 38px;
  max-height: 25px;
  margin: 0 auto;
}

.level__desc {
  display: none;
}

.level__border-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  transform: translate(-60%, -75%);
}

@media (min-width: $tablet-width) {
  .level {
    padding: 0 0 15px 0;
  }

  .level__title {
    display: none;
  }

  .level__wrapper {
    padding: 0;
  }

  .level__desc {
    display: block;
    max-width: 25px;
    max-height: 15px;
    margin: 0 auto;
  }

  .level__value {
    padding: 2px 0 0 0;
  }

  .level__border-wrapper {
    width: 60px;
    height: 60px;
    transform: translate(-50%, -55%);
  }
}

@media (min-width: $desktop-width) {
  .level {
    padding: 0;
  }
}
