.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: -25px;

  &--closed .main-nav__toggle {
    width: 25px;
    height: 12px;
  }

  &--opened .main-nav__toggle {
    width: 25px;
    height: 25px;
  }

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px #ffffff;
  }

  &--closed .main-nav__toggle:active,
  &--opened .main-nav__toggle:active,
  &--closed .main-nav__toggle:hover,
  &--opened .main-nav__toggle:hover,
  &--closed .main-nav__toggle:focus,
  &--opened .main-nav__toggle:focus {
    outline: none;
    opacity: 0.5;
  }

  &--opened .main-nav__toggle::before,
  &--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #cbcbcb;
  }

  &--opened .main-nav__toggle::before {
    transform: rotate(-45deg);
  }

  &--opened .main-nav__toggle::after {
    transform: rotate(45deg);
  }
}

.nojs .main-nav {
  &--opened .main-nav__toggle::before,
  &--opened .main-nav__toggle::after {
    content: none;
  }
}

.nojs .main-nav__wrapper {
  display: block;
}

.main-nav__wrapper {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  width: 100%;
  padding-top: 75px;
  z-index: 2;
}

.main-nav__toggle {
  position: relative;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
  width: 270px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    align-items: center;
    order: 1;
    margin-top: -33px;
  }

  .main-nav__wrapper {
    top: 130px;
  }

  .main-nav__list {
    width: 688px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;
    width: auto;
    margin: 0 0 0 108px;
    order: 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -70px;
      width: 60px;
      height: 2px;
      background-color: $fnt-white;
      transform: translateY(-50%);
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    position: static;
    display: block;
    width: auto;
    padding-top: 0;
    background-color: transparent;
  }
}
