.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: -25px;
}

.main-nav__wrapper {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  width: 100%;
  padding-top: 75px;
  z-index: 2;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
  width: 270px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    align-items: center;
    order: 1;
  }

  .main-nav__list {
    width: 688px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin-top: 0;
    order: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    position: static;
    display: block;
    width: auto;
    padding-top: 0;
    background-color: transparent;
  }
}
