.page-block {
  .page-block__title,
  .page-block__paragraph,
  .page-block__list {
    margin: 0;
    padding: 0;
  }
}

.page-header {
  color: #ffffff;
  background-color: #161c36;
}

.page-footer {
  background-color: #ffffff;
}

.page-side {
  .page-side__title {
    margin: 0;
    padding: 0;
  }
}
