.page__wrapper {
  width: 270px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page__wrapper {
    width: 688px;
  }
}

@media (min-width: $desktop-width) {
  .page__wrapper {
    width: 1320px;
  }
}
