.page-block {

  .page-block__title {
    margin: 0;
    padding: 0;
  }

  .page-block__list {
    margin: 0;
    padding: 0;
  }
}

.page-header {
  color: #ffffff;
  background-color: #161c36;
}

.page-footer {
  background-color: #ffffff;
}
