.photo-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 35px 0;
}

@media (min-width: $tablet-width) {
  .photo-edit {
    order: 4;
    margin: 0 0 50px 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-edit {
    order: 0;
    align-items: flex-end;
    margin: 0 0 25px 0;
  }

  .photo-edit__label {
    padding: 0 30px;
  }
}
