.price {
  position: relative;
}

.price__container {
  padding: 25px 0 32px 0;
}

.price__wrapper {
  padding: 27px 0 0 25px;
  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-position: 100% 11px;
  background-size: 37%;
}

.price__title,
.price__desc {
  margin: 0;
  padding: 0;
}

.price__desc {
  width: 115px;
  margin-bottom: 55px;
}

.price__link {
  display: inline-block;
  vertical-align: middle;
  max-width: 240px;
}

@media (min-width: $tablet-width) {
  .price__container {
    padding: 47px 0 45px 0;
  }

  .price__wrapper {
    margin-left: 0;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-position: 92% 100%;
    background-size: 15%;
  }

  .price__desc {
    width: auto;
    margin-bottom: 90px;
    text-align: center;
  }

  .price__link {
    position: relative;
    max-width: 350px;
    margin-left: 65px;
  }

  .price__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -90px;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #e1e5f1;
    background-image: url("../img/business.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 25%;
    transform: translateY(-50%);
  }
}

@media (min-width: $desktop-width) {
  .price__container {
    padding: 80px 0 143px 0;
  }

  .price__wrapper {
    margin: 0;
    background-position: 93% 206px;
  }

  .price__desc {
    margin-bottom: 150px;
  }

  .price__link {
    max-width: 450px;
    margin-left: 140px;
  }
}
