.registration {
  background-color: #192144;

  .registration__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #ff8d30;
  }

  .registration__desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #ffffff;
  }

  .registration__desc-link {
    color: #ffd74b;
    text-decoration: underline;
  }
}

.registration-form {
  .registration-form__label {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #ffffff;
  }
}

.registration-contacts {
  .registration-contacts__desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #ffffff;
  }

  .registration-contacts__list {
    list-style: none;
  }

  .registration-contacts__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #ffd74b;
    text-decoration: none;
    text-transform: uppercase;
  }
}
