.registration-form {
  position: relative;
  margin-bottom: 30px;
  align-self: stretch;
}

.registration-form__input {
  width: 98%;
}

.registration-form__send {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .registration-form {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .registration-form {
    margin-bottom: 70px;
  }
}
