.registration-contacts__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #ffffff;
}

.registration-contacts__list {
  list-style: none;
}

.registration-contacts__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #ffd74b;
  text-decoration: none;
  text-transform: uppercase;
}
