.site-list {
  margin-bottom: 55px;
}

.site-list__item {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    margin-bottom: 140px;
  }

  .site-list__item {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .site-list__item {
    margin-left: 60px;
  }
}
