.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 45px;
}

.social-list__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;

  &--facebook {
    background-image: url("../img/facebook.svg");
  }

  &--vkontakte {
    background-image: url("../img/vk.svg");
  }

  &--instagram {
    background-image: url("../img/instagram.svg");
  }
}

.social-list__link:hover,
.social-list__link:focus {
  opacity: 1;
}

.social-list__link:active {
  opacity: 0.8;
}

.social-list__item:not(:first-of-type) {
  margin-left: 25px;
}

@media (min-width: $tablet-width) {
  .social-list {
    justify-content: flex-start;
    margin-bottom: 95px;
  }

  .social-list__link {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    display: none;
  }
}
