.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .social-list {
    justify-content: flex-start;
    margin-bottom: 95px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    display: none;
  }
}
