.sort-level__number {
  display: flex;
  flex-direction: row;
  margin: 0 0 25px 0;
}

.sort-level__input {
  box-sizing: border-box;
  width: 110px;
  padding: 10px;
}

.sort-level__line {
  position: relative;
  width: 100%;
  height: 2px;
  margin: 0 0 12px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 2px;
    background-color: #1d2d5b;
  }
}

.sort-level__line-roller {
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);

  &--min {
    right: 145px;
  }

  &--max {
    right: -5px;
  }

  &:hover,
  &:focus,
  &:active {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .sort-level__number {
    margin: 0;
  }

  .sort-level__input {
    width: 75px;
    font-size: 20px;
    line-height: 20px;
  }

  .sort-level__line {
    width: 280px;
    margin: 0;

    &::before {
      width: 220px;
    }
  }

  .sort-level__line-roller {
    &--min {
      right: 215px;
    }
  }
}

@media (min-width: $desktop-width) {
  .sort-level__number {
    margin: 0 0 25px 0;
  }

  .sort-level__input {
    width: 95px;
  }

  .sort-level__line {
    width: 100%;
    margin: 0 0 12px 0;

    &::before {
      width: 120px;
    }
  }

  .sort-level__line-roller {
    &--min {
      right: 115px;
    }
  }
}
