.sort {
  box-sizing: border-box;
  padding: 25px;
}

.sort__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .sort__title {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .sort {
    width: 285px;
    padding: 45px;
  }

  .sort__title {
    margin-bottom: 40px;
  }
}
