.sort-item {
  border: none;
}

.sort-item__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.sort-item__label {
  font-size: 15px;
  line-height: 15px;
  color: #444444;
}
