.sort {
  border-radius: 20px;
  background-color: #ffd74b;
}

.sort__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
  color: #1d2e5b;
}

.sort__send {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
}
