.sort {
  border-radius: 20px;
  background-color: #ffd74b;

  .sort__title {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 22.49px;
    color: #1d2e5b;
  }

  .sort__send {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    color: #161c35;
    text-transform: uppercase;
  }
}

.sort-item {
  border: none;

  .sort-item__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #1d2e5b;
    text-transform: uppercase;
  }

  .sort-item__label {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #444444;
  }
}

.sort-level {
  .sort-level__input {
    font-size: 15px;
    font-weight: 500;
    line-height: 13.49px;
    color: #1d2e5b;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
