.sort-parameters {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 13px 0 0 0 ;

  &--transport {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 8px;
  }

  &--transport .sort-parameters__label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &--level {
    margin-left: 0;
    align-items: center;
  }
}

.sort-parameters__label > .sort-parameters__label-icon {
  opacity: 0.5;
}

.sort-parameters__input {
  &:checked + .sort-parameters__label > .sort-parameters__label-icon {
    opacity: 1;
  }

  &:hover + .sort-parameters__label,
  &:focus + .sort-parameters__label {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .sort-parameters {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 500px;

    &--transport .sort-parameters__label {
      width: 45px;
      height: 45px;
    }

    &--level {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .sort-parameters__label-icon {
    width: 17px;
    height: 21px;
  }
}

@media (min-width: $desktop-width) {
  .sort-parameters {
    flex-direction: column;
    width: 100%;
    margin: 18px 0 0 0;

    &--transport {
      flex-direction: row;
      margin-left: 0;
    }

    &--level {
      margin-left: 0;
    }
  }
}
