.sort-item {
  margin: 0;
  padding: 0;
}

.sort-item__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 13px 0;
}

@media (min-width: $tablet-width) {
  .sort-item__wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .sort-item__wrapper {
    justify-content: space-between;
  }
}
