.sub-nav {
  position: absolute;
  top: 439px;
}

.side .sub-nav {
  display: none;
}

.sub-nav__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.sub-nav__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .sub-nav {
    position: static;
    width: auto;
  }

  .side .sub-nav {
    display: block;
  }

  .sub-nav__item:not(:last-child) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .sub-nav {
    margin-left: auto;
  }

  .sub-nav__item:nth-of-type(n) {
    display: block;
  }
}
