.sub-nav {
  display: none;

  &--intro {
    display: block;
    max-width: 270px;
    margin-bottom: 25px;
    background-color: transparent;
    overflow: hidden;
  }
}

.sub-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  &--intro {
    flex-wrap: nowrap;
  }
}

.sub-nav__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.sub-nav__btn {
  max-width: 150px;
  max-height: 30px;
}

@media (min-width: $tablet-width) {
  .sub-nav {
    position: static;
    display: block;
    width: auto;

    &--intro {
      display: none;
    }
  }

  .sub-nav__item:not(:last-child) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .sub-nav {
    margin-left: auto;
  }

  .sub-nav__item:nth-of-type(n) {
    display: block;
  }

  .sub-nav__link {
    width: 50px;
    height: 50px;
  }
}
