.tariff-list {
  width: 100%;
  margin-bottom: 20px;
}

.tariff-list__row {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.tariff-list__cell {
  text-align: left;
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

@media (min-width: $tablet-width) {
  .tariff-list__row {
    flex-direction: row;
    justify-content: space-between;
  }
}
