.todoadd {
  padding: 30px 25px;
}

.todoadd__title {
  margin: 0 0 35px 0;
  padding: 0;
}

.todoadd__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 25px;
}

.todoadd__item-title {
  margin: 0 0 20px 0;
  padding: 0;
}

.todoadd__item-desc {
  margin: 0;
  padding: 0 0 25px 0;
}

.todoadd__item-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoadd__item-next {
  margin: 0 0 15px 0;
}

.todoadd__next-icon,
.todoadd__prev-icon {
  display: none;
}

@media (min-width: $tablet-width) {
  .todoadd {
    padding: 55px;
  }

  .todoadd__title {
    margin-bottom: 55px;
    padding: 0 34px;
  }

  .todoadd__item {
    margin-bottom: 40px;
    padding: 50px 45px;
  }

  .todoadd__item-title {
    margin: 0 0 40px 0;
  }

  .todoadd__item-desc {
    margin: 0 0 25px 0;
    padding: 0 0 40px 0;
  }

  .todoadd__item-action {
    display: flex;
    flex-direction: row;
  }

  .todoadd__item-next,
  .todoadd__item-prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    padding: 25px;
  }

  .todoadd__item-next {
    flex-direction: row;
    margin: 0;
  }

  .todoadd__item-prev {
    flex-direction: row-reverse;
  }

  .todoadd__next-text {
    margin-right: 25px;
  }

  .todoadd__prev-text {
    margin-left: 25px;
  }

  .todoadd__next-icon,
  .todoadd__prev-icon {
    display: inline-flex;
  }

  .todoadd__prev-icon {
    transform: rotate(180deg);
  }
}

@media (min-width: $desktop-width) {
  .todoadd__title {
    padding: 0 0 0 70px;
  }

  .todoadd__item {
    padding: 100px 160px;
  }

  .todoadd__item-title {
    margin: 0 0 45px 0;
  }

  .todoadd__item-desc {
    margin: 0 0 75px 0;
    padding: 0 0 60px 0;
  }
}
