.todoadd-item {
  background-color: #ffffff;
}

.todoadd-item__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #1d2e5b;
}

.todoadd-item__link,
.todoadd-item__send {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #161c35;
}
