.todo {
  padding: 30px 25px;
}

.todo__title,
.todo__list,
.todo__item-text {
  margin: 0;
  padding: 0;
}

.todo__title {
  margin-bottom: 25px;
}

.todo__list {
  counter-reset: todoitem;
}

.todo__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22px 0;
}

.todo__item::before {
  counter-increment: todoitem;
  content: counter(todoitem) ".";
  position: absolute;
  top: 25px;
  left: 25px;
}

.todo__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.todo__item-text {
  padding: 0 60px 0 0;
}

.todo__item-country {
  margin-bottom: 21px;
  padding-left: 43px;
}

.todo__item-count {
  margin-bottom: 5px;
  padding-left: 43px;
}

.todo__item-date {
  margin-bottom: 23px;
  padding-left: 43px;
}

.todo__item-count,
.todo__item-date,
.todo__item-edit {
  padding-left: 25px;
}

@media (min-width: $tablet-width) {
  .todo {
    padding: 50px 40px 70px 40px;
  }

  .todo__title {
    margin-bottom: 40px;
    padding: 0 34px;
  }

  .todo__list {
    padding: 0 34px;
  }

  .todo__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 27px 0 0 0;
  }

  .todo__item::before {
    left: auto;
    right: 37px;
    top: 50px;
  }

  .todo__item-text {
    padding: 0;
  }

  .todo__item-country,
  .todo__item-count {
    padding: 0 37px;
  }

  .todo__item-country {
    width: 100%;
    margin-bottom: 13px;
    padding-bottom: 25px;
  }

  .todo__item-date {
    margin: 0 0 20px 10px;
  }

  .todo__item-edit {
    margin: 0 35px 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .todo {
    padding: 50px 40px 65px 40px;
  }

  .todo__title,
  .todo__list {
    padding: 0 0 0 70px;
  }

  .todo__item {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 40px;
  }

  .todo__item:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .todo__item::before {
    left: 45px;
    right: auto;
    top: 45px;
  }

  .todo__item-text {
    padding: 0;
  }

  .todo__item-country {
    width: 485px;
    margin: 0 45px 0 0;
    padding: 0 0 0 50px;
  }

  .todo__item-date {
    margin: 0 0 0 50px;
    padding: 0;
  }

  .todo__item-edit {
    margin-left: auto;
  }
}
