.todo-item {
  background-color: #ffffff;
}

.todo-item__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #1d2e5b;
}

.todo-item__count,
.todo-item__date {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.todo-item__edit {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.4px;
  opacity: 0.3;
}
