.todoadd-form {
  margin: 0;
  padding: 0;
}

.todoadd-form__parameters {
  margin: 0 0 26px 0;
  padding: 0;
}

.todoadd-form__parameters-wrapper {
  display: flex;
  flex-direction: column;
}

.todoadd-form__select {
  margin: 0 0 25px 0;
  padding: 0;
}

.todoadd-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
}

.todoadd-form__input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.todoadd-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}

.todoadd-form__input-btn {
  position: absolute;
  height: 100%;
  transform: translateY(-50%);
  outline: none;

  &--minus {
    top: 50%;
    left: 0;
    padding-left: 15px;
  }

  &--plus {
    top: 50%;
    right: 0;
    padding-right: 15px;
  }
}

.todoadd-form__input-icon {
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.todoadd-form__checkbox-label {
  order: 1;
  margin: 0 0 0 40px;
}

.todoadd-form__select-item {
  position: relative;
  display: flex;
  flex-direction: row;
}

.todoadd-form__select-add {
  position: relative;
  display: flex;
  flex-direction: column;
}

.todoadd-form__country-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 13px;
}

.todoadd-form__leisure {
  margin: 0 0 20px 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .todoadd-form {
    padding: 0 34px;
  }

  .todoadd-form__parameters {
    padding: 24px 0 0 0;
  }

  .todoadd-form__label {
    margin-bottom: 25px;
  }

  .todoadd-form__input {
    padding: 20px;
  }

  .todoadd-form__input-wrapper {
    margin-bottom: 35px;
  }

  .todoadd-form__checkbox-label {
    order: 0;
    padding: 0 0 35px 60px;
    margin: 0 0 25px 0;
  }

  .todoadd-form__select {
    margin: 0;
    padding: 44px 0;
  }

  .todoadd-form__leisure {
    margin: 0;
    padding: 31px 0 50px 0;
  }

  .todoadd-form__country-add {
    width: 370px;
    padding: 25px;
  }
}

@media (min-width: $desktop-width) {
  .todoadd-form {
    padding: 0;
  }

  .todoadd-form__parameters {
    margin: 14px 0 24px 0;
  }

  .todoadd-form__parameters-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .todoadd-form__select-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .todoadd-form__label {
    align-items: center;
    width: 22%;
  }

  .todoadd-form__checkbox-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-left: auto;
    padding: 0;
  }

  .todoadd-form__input-wrapper {
    width: 18%;
    margin: 0 0 15px 0;
  }

  .todoadd-form__select {
    padding: 64px 0 54px 0;
  }

  .todoadd-form__leisure {
    margin: 42px 0 16px 0;
    padding: 31px 0 0 0;
  }

  .todoadd-form__country-add {
    width: 730px;
  }
}
