.travelmates__header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.travelmates__title {
  margin: 0;
  padding: 0;
}

.travelmates__link {
  margin-bottom: 25px;

  &--home {
    display: none;
  }
}

.travelmates__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
}

.travelmates__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .travelmates__link {
    margin-bottom: 50px;

    &--home {
      display: inline-block;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmates__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .travelmates__link {
    margin-bottom: 75px;
  }

  .travelmates__footer {
    width: 950px;
  }
}
