.travelmate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 20px;
}

.travelmate__photo {
  position: relative;
}

.travelmate__like {
  position: absolute;
  top: 0;
  right: 0;
}

.travelmate__tags {
  margin: 0;
  padding: 0;
}

.travelmate__country {
  width: 100%;
}

.travelmate__parameters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.travelmate__action {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.travelmate__link {
  flex-grow: 1;
}

.travelmate__action-link,
.travelmate__action-count {
  display: none;
}

@media (min-width: $tablet-width) {
  .travelmate__like,
  .travelmate__count {
    display: none;
  }
}
