.travelmates__header-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 10px 0;
}

.travelmates__title {
  margin: 0;
  padding: 0;
}

.travelmates__link {
  &--home {
    display: none;
  }

  &--more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
  }

  &-text {
    margin-left: 15px;
  }
}

.travelmates__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
}

.travelmates__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .travelmates__header-wrapper {
    padding: 90px 30px 60px 30px;
  }

  .travelmates__link {
    &-icon {
      margin-left: 30px;
    }

    &--home {
      display: inline-block;
      vertical-align: middle;
    }

    &--more {
      margin-bottom: 50px;
    }

    &-text {
      margin-left: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmates__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .travelmates__header-wrapper {
    padding: 90px 60px 60px 60px;
  }

  .travelmates__footer {
    width: 950px;
  }

  .travelmates__link {
    &--more {
      margin-bottom: 65px;
    }
  }
}
