.travelmate {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 15px 0 20px 0;
  border-radius: 20px;
}

.travelmate:not(:last-of-type) {
  margin-bottom: 10px;
}

.travelmate__photo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.travelmate__photo-image {
  display: block;
}

.travelmate__like {
  position: absolute;
  bottom: -3px;
  right: -13px;
}

.travelmate__like-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);

  &--active {
    transform: translate(-50%, -25%);
  }
}

.travelmate__desc {
  display: flex;
  flex-direction: column;
}

.travelmate__name,
.travelmate__count {
  margin-left: 105px;
  margin-bottom: 10px;
}

.travelmate__name {
  width: 37%;
  margin-bottom: 6px;
}

.travelmate__count {
  margin-bottom: 20px;
}

.travelmate__tags {
  margin: 0 0 13px 0;
  padding: 0;
  padding-left: 25px;
}

.travelmate__parameters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.travelmate__action {
  display: flex;
  flex-direction: row;

  &--tablet {
    display: none;
  }
}

.travelmate__link {
  flex-grow: 1;
  margin: 0 25px;
}

.travelmate__action-like,
.travelmate__action-count {
  display: none;
}

@media (min-width: $tablet-width) {
  .travelmate {
    flex-direction: row;
    padding: 35px 0 0 0;
  }

  .travelmate:not(:last-of-type) {
    margin-bottom: 44px;
  }

  .travelmate__photo {
    position: static;
    margin: 0 35px 25px 35px;
  }

  .travelmate__like,
  .travelmate__count {
    display: none;
  }

  .travelmate__desc {
    width: 40%;
  }

  .travelmate__name,
  .travelmate__count {
    margin-left: 0;
  }

  .travelmate__name {
    width: auto;
    margin-bottom: 20px;
  }

  .travelmate__tags {
    margin-bottom: 45px;
    padding: 0;
  }

  .travelmate__country {
    order: 1;
  }

  .travelmate__parameters {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 40px 0 auto;
  }

  .travelmate__link {
    margin: 0;
  }

  .travelmate__action {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--tablet {
      display: flex;
      justify-content: flex-start;

      .travelmate__link {
        flex-grow: 0;
      }

      .travelmate__action-like,
      .travelmate__action-count {
        display: block;
      }
    }

    &-count {
      margin-left: 10px;
    }

    &-icon {
      width: 25px;
      height: 25px;
    }

    &-icon--active {
      width: 40px;
      height: 40px;
    }
  }

  .travelmate__action-like {
    position: relative;

    &--tablet {
      width: 40px;
      height: 20px;
      padding: 15px 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmate {
    padding: 50px 50px 50px 345px;
  }

  .travelmate:not(:last-of-type) {
    margin-bottom: 27px;
  }

  .travelmate__photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 285px;
    margin: 0;
  }

  .travelmate__photo-image {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
  }

  .travelmate__desc {
    width: 52%;
  }

  .travelmate__tags {
    margin-bottom: 40px;
  }

  .travelmate__country {
    order: 0;
    width: 35%;
  }

  .travelmate__parameters {
    flex-direction: row;
    justify-content: space-between;
    order: 1;
    width: 35%;
    margin: 0;
  }

  .travelmate__action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 58%;

    &--tablet {
      display: none;
    }
  }

  .travelmate__link {
    flex-grow: 0;
    margin: 0;
  }

  .travelmate__action-like {
    border-radius: 50%;
  }

  .travelmate__action-like,
  .travelmate__action-count {
    display: block;
  }
}
