.user-tags {
  position: relative;
  width: 100%;
  margin: 0 0 25px 0;
  padding: 25px;
}

.user-tags__title,
.user-tags__list {
  margin: 0;
  padding: 0;
}

.user-tags__title {
  position: absolute;
  top: -10px;
  left: 50%;
  padding: 0 15px;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .user-tags {
    order: 5;
    margin: 0 0 60px 0;
    padding: 40px;
  }

  .user-tags__title {
    top: auto;
    bottom: -10px;
  }
}

@media (min-width: $desktop-width) {
  .user-tags {
    order: 0;
    width: 730px;
    box-sizing: border-box;
    margin: 0 0 45px 0;
  }

  .user-tags__title {
    left: 20px;
    transform: none;
  }
}
