.user-transport {
  border: 1px solid #cbced9;
  border-radius: 10px;
}

.user-transport__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.user-transport__list {
  list-style: none;
}

.user-transport__item {
  opacity: 0.15;

  &--active {
    opacity: 1;
  }
}
