.user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0 0 0;
}

.user-info__photo {
  width: 100px;
  height: 100px;
  margin: 0 0 20px 0;
}

@media (min-width: $tablet-width) {
  .user-info {
    justify-content: space-between;
    align-items: flex-start;
  }

  .user-info__photo {
    order: 3;
    margin: 0 0 50px 60px;
  }
}

@media (min-width: $desktop-width) {
  .user-info {
    justify-content: flex-end;
    margin: 0;
  }

  .user-info__photo {
    order: 0;
    width: 195px;
    height: 195px;
    margin: 0 0 0 45px;
  }
}
