.user-transport {
  width: 100%;
  margin: 0 0 35px 0;
}

.user-transport__title,
.user-transport__list {
  margin: 0;
  padding: 0;
}

.user-transport__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: $tablet-width) {
  .user-transport {
    flex-grow: 1;
    order: 2;
    width: auto;
    margin: 0;
  }

  .user-transport__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .user-transport {
    order: 0;
    width: 49%;
  }
}
