.user-tags {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
}

.user-tags__title,
.user-tags__list {
  margin: 0;
  padding: 0;
}

.user-tags__list {
  box-sizing: border-box;
  width: 100%;
  padding: 22px 25px;
}

.user-tags__title {
  position: absolute;
  top: -6px;
  left: 50%;
  padding: 0 15px;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .user-tags {
    order: 5;
    margin: 0 0 50px 0;
  }

  .user-tags__list {
    padding: 33px 40px 10px 40px;
  }

  .user-tags__title {
    top: auto;
    bottom: -5px;
  }
}

@media (min-width: $desktop-width) {
  .user-tags {
    order: 0;
    width: 730px;
    box-sizing: border-box;
    margin: 0 0 57px 0;
  }

  .user-tags__title {
    left: 20px;
    transform: none;
  }
}
