.user-level {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

@media (min-width: $tablet-width) {
  .user-level {
    order: 1;
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .user-level {
    order: 0;
    margin: 0;
  }
}
