$btn-yellow: #ffd64b;
$btn-yellowdark: #ffbd2f;
$btn-orange: #ff8c30;
$btn-orange-hover: #f26925;
$btn-white: #ffffff;
$btn-blue-light: #dfe3f0;
$btn-trasparent: transparent;
$tablet-width: 768px;
$desktop-width: 1440px;
