$btn-yellow: #ffd64b;
$btn-yellowdark: #ffbd2f;
$btn-orange: #ff8c30;
$btn-orange-hover: #f26925;
$btn-white: #ffffff;
$btn-blue-light: #dfe3f0;
$btn-trasparent: transparent;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
